<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <typeAliases>
        <package name="com.tang.rbac.entity"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/SysPermissionMapper.xml"/>
        <mapper resource="mapper/SysUserMapper.xml"/>
    </mappers>
</configuration>